.root {
    display: flex;
    justify-content: center;
    align-items: start;
    max-width: 1000px;
}
.wrapper {
    display: flex;
    width: 100%;
    margin: 5px 25px;
    box-shadow: 0 2px 10px -1px rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 1px 3px 0 rgba(0,0,0,0.12)
}
.card{
    width: 100%;
    padding: 0 !important;
}
.title{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 30%;
}
.control{
   margin-left: 3%;
}
.price{
    width: 20%;
}
.image {
    display: block;
    max-width: 75px;
    min-width: 35px;
    width: 25%;
}