.root{
    height: 90vh;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
}

.form {
    width: 40%;
}
.list{
    width: 60%;
}

@media screen and (max-width: 1024px){
    .wrapper{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .list{
        width: 100%;
        max-width: 1024px;
    }
}
@media screen and (max-width: 768px){
    .form {
        width: 100%;
    }
    .list{
        width: 100%;
        min-width: 300px;
    }
}
