.list {
    width: 250px;
}

.menuButton {
    margin-right: 10px;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logoContainer h3{
    margin-top: 0;
}

.logo {
    height: 100px;
    width: 140px;
}

.sidebarText {
    color: #626856;
}
