.icon {
    margin-right: 5%;
}

.heroContent {
    background-color: #f1d6b1;
    padding: 8% 0 6% 0;
}

.heroButtons {
    margin-top: 4%;
}

.cardGrid {
    padding-top: 2%;
    padding-bottom: 2%;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cardMedia {
    padding-top: 56.25%
}

.cardContent {
    flex-grow: 2
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30% auto;
}